@import '../../../presentation/styles/colors.scss';

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
    to right,
    $palettePrimaryDark 0%,
    $palettePrimaryMain 100%
  );

  .card__content {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    max-width: 28rem;
    width: 100%;
    row-gap: 0.8rem;
    background-color: $paletteBackgroundDefault;

    h6 {
      margin-bottom: 1.6rem;
      text-align: center;
    }

    .buttons_container {
      padding: 0 2.4rem;
      display: flex;
      row-gap: 0.8rem;
      flex-direction: column;
    }
  }

  .password__remeber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.4rem 0;
  }

  .register__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.6rem 0;
  }

  .form__divider {
    align-self: stretch;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    span {
      font-weight: bold;
    }

    hr {
      width: 25%;
      background-color: #ffffff70;
    }
  }

  .flex__cards {
    display: flex;

    > div:nth-child(2) {
      flex: 1;

      background-image: linear-gradient(
        to left,
        $fuseDark800 0%,
        $fuseDark500 100%
      );

      width: 100%;
      min-width: 48rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .hero_section {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 24rem;
    row-gap: 2.4rem;

    h3 {
      font-weight: bold;
    }
  }
}
