$fuseDark50: #e3e6e8;
$fuseDark100: #bac0c5;
$fuseDark200: #8c969f;
$fuseDark300: #5e6c78;
$fuseDark400: #3c4d5b;
$fuseDark500: #192d3e;
$fuseDark600: #162838;
$fuseDark700: #122230;
$fuseDark800: #0e1c28;
$fuseDark900: #08111b;
$fuseDarkA100: #5b9aff;
$fuseDarkA200: #287bff;
$fuseDarkA400: #005ef4;
$fuseDarkA700: #0054da;

$paletteTypeDark: true;
$paletteTypeLight: false;
$palettePrimaryLight: #bcc8cd;
$palettePrimaryMain: #204657;
$palettePrimaryDark: #0b202c;
$paletteSecondaryLight: #b3ebc5;
$paletteSecondaryMain: #00bd3e;
$paletteSecondaryDark: #00981b;
$paletteSecondaryContrastText: #ffffff;
$paletteSecondaryWhiteOpacity: #ffffff23;
$paletteBackgroundPaper: #1c1e27;
$paletteBackgroundDefault: #15171e;
$paletteDivider: #15171e;

$paletteErrorRed50: #ffebee;
$paletteErrorRed100: #ffcdd2;
$paletteErrorRed200: #ef9a9a;
$paletteErrorRed300: #e57373;
$paletteErrorRed400: #ef5350;
$paletteErrorRed500: #f44336;
$paletteErrorRed600: #e53935;
$paletteErrorRed700: #d32f2f;
$paletteErrorRed800: #c62828;
$paletteErrorRed900: #b71c1c;
$paletteErrorRedA100: #ff8a80;
$paletteErrorRedA200: #ff5252;
$paletteErrorRedA400: #ff1744;
$paletteErrorRedA700: #d50000;

$paletteStatusDanger: orange;
